.mobile-menu {
    display: none;
}

@media (max-width: 960px) {
    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .mobile-menu-btn {
        width: 30px;
        height: 30px;
        font-size: 30px;
        padding: 0;
        margin-left: 2px;
        margin-bottom: 2px;
    }
    .mobile-menu-content {
        background-color: #fff;
        width: 100%;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all linear;
        &.open {
            max-height: 2000px;
            overflow: visible;
        }
    }
    .mobile-menu-list {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }
    .mobile-menu-item {
        display: block;
        padding: 0;
        margin: 0;
    }

    .mobile-menu-link {
        display: block;
        width: 100%;
        padding: 15px 24px;
        font-weight: 700;
        color: #343434;
        text-transform: uppercase;
        font-family: 'Raleway';
        letter-spacing: 1px;
        border-bottom: 1px solid #ddd;
    }
    .mobile-menu-sub {
        padding: 0;
        margin: 0;
        width: 100%;
        .mobile-menu-link {
            padding: 15px 39px;
            font-weight: 400;
        }
    }
}
