.posts-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    box-shadow: none;
    padding-bottom: 20px;
    &:not(:last-child) {
        margin-bottom: 20px;
        border-bottom: 1px dotted #ddd;
    }
}

.posts-item-link {
    transition: 0.3s all linear;
    flex-shrink: 0;
    &:hover {
        opacity: 0.9;
    }
}

.posts-item-content {
    padding: 0 !important;
    width: 100%;
    max-width: 170px;
}

.posts-item-date {
    font-size: 13px;
    line-height: 30px;
    margin: 2px 0 0 0;
    color: #aaa;
    letter-spacing: 1px;
}
