.fixed-menu {
    position: fixed;
    background: #222;
    width: 100%;
    z-index: 999;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.3s all linear;
    &.active {
        visibility: visible;
        transform: translateY(0);
        height: auto;
    }
}
.fixed-menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.fixed-menu-logo {
    height: 32px;
    img {
        height: 32px;
    }
}

@media (max-width: 1100px) {
    .fixed-menu {
        display: none;
    }
}
