.footer-bottom {
    border-top: 5px solid #f4f4f4;
    padding: 30px 0;
    p {
        letter-spacing: 1px;
        line-height: 2em;
        margin: 0;
    }
}
.footer-bottom-right {
    text-align: end;
}
