.footer-top {
    padding: 40px 0;
    img {
        margin-bottom: 10px;
    }
    .box {
        box-shadow: none;
    }
    .content {
        padding: 0;
    }
    @media (max-width: 768px) {
        padding: 40px 0 0 0;
    }
}

.footer-top-text {
    margin: 0 0 20px 0;
    color: #999;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 1px;
}
